


.events-section h1 {
    background-color: var(--mainColor);
    color: #fff;
    text-align: center;
    padding: 40px;
}

.events-container {
    margin: 10px 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.event-wrapper {
    border: 2px solid #90cdec;
    display: flex;
    align-items: center;
    margin: 40px 10px;
}

.event-details {
    padding: 30px;
}

.event-date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 40px;
    height: 100%;
    border-right: 2px solid #90cdec;
}

.event-day {
    padding: 10px;
    font-size: 3rem;
    color: var(--mainColor);
}

.event-past {
    border: 2px solid #b9c1c7;
}

.event-past .event-date {
    border-right: 2px solid #b9c1c7;
    color: #8b949b;
}

.event-past .event-day {
    color: #384955;
}

.event-past .event-details {
    color: #8b949b;
}

@media screen and (max-width: 600px) {
    

    .events-section h1 {
        font-size: 1.4rem;
        padding: 20px;
    }

    .events-container {
        margin: 10px 20px;
    }

    .event-day {
        font-size: 1.8rem;
    }

    .event-date {
        padding: 20px;
    }

    .event-details {
        padding: 8px;
    }

    .event-details p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 900px) {
    .events-container {
        display: block;
    }

    .event-details {
        font-size: 1.4rem;
    }
}

@media  screen and (max-width: 1200px) {
    .events-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1400px) {
    .event-details {
        font-size: 1rem;
    }
}