


footer {
    padding: 20px 0;
    text-align: center;
    color: var(--mainColor);
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    footer p {
        font-size: 0.8rem;
    }

    footer {
        padding: 20px 0;
        margin: 10px 0;
    }
}