


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --mainColor: #4EB5ED;
    --secondaryColor: #384955;
    --thirdColor: #1d1d1f;
    --fourthColor: #f5f5f7;
}

html, body {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    padding-top: constant(safe-area-inset-top); /* For iOS 11.0+ */
    padding-top: env(safe-area-inset-top); /* For iOS 11.2+ */
}