


.landing {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.landing img {
  position: relative;
  width: 100%;
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 98%;
  width: 50%;
  color: #fff;
  background-color: rgba(78, 181, 237, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.4vw;
}

.overlay h1 {
  font-size: 6vw;
  line-height: 1.1em;
}

.overlay p {
  margin-top: 1.4em;
  text-align: center;
  font-size: 2.4vw;
  line-height: 1.4em;
}


@media screen and (max-width: 600px) {
  .landing-container {
    background-image: url("../../assets/images/cnd-landing-img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
  }

  .landing-img {
    display: none;
  }

  .overlay {
    width: 100%;
    text-align: center;
    z-index: 2;
    position: static;
    padding: 40px 0;
    background-color: rgba(78, 181, 237, 0.7);
  }

  .overlay h1 {
    font-size: 30px;
  }
  
  .overlay p {
    margin-top: 1.4em;
    text-align: center;
    font-size: 4vw;
    line-height: 1.4em;
  }
}
