


.testimonial-section {
    color: #fff;
    background-color: #4EB5ED;
    padding: 80px;
}

.quotes-icon {
    fill: #fff;
    width: 80px;
    height: 80px;
}

.testimonial-section p {
    margin: 40px 0;
    font-weight: 600;
}

.testimonial-section h3 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .testimonial-section {
        padding: 30px;
    }

    .testimonial-section h3 {
        font-size: 1.2rem;
    }

    .quotes-icon {
        width: 40px;
        height: 40px;
    }

    .testimonial-section p {
        font-size: 0.7rem;
        margin: 20px 0;
    }
}



